.items-container {
  padding: 1rem;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  display: grid;
  min-height: 50vh;
  border-radius: 1rem;
  gap: 1rem;
  place-items: center;
  
}