.item-list-container {
  padding: 1rem;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  display: grid;
  min-height: 50vh;
  border-radius: 1rem;
  gap: 1rem;
  place-items: center;
  
}

.items-container {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.producto {
  background-color: whitesmoke;
  border-radius: 1rem;
  color: #3498db;
  padding: 1rem;
  margin: 1rem;
  h2 {
    font-weight: 800;
  }
  img {
    border-radius: .5rem;
  }
}

